extends layout

block content
  //navigation
  nav#mainNav.navbar.navbar-expand-lg.bg-secondary.fixed-top
    .container
      a.navbar-brand.js-scroll-trigger(href='#page-top') INICIO
      button.navbar-toggler.navbar-toggler-right.font-weight-bold.bg-primary.text-white.rounded(type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
        | Menu 
        i.fas.fa-bars
      #navbarResponsive.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
          li.nav-item.mx-0.mx-lg-1
            a.nav-link.py-3.px-0.px-lg-3.rounded.js-scroll-trigger(href='#portfolio') PORTFOLIO
          li.nav-item.mx-0.mx-lg-1
            a.nav-link.py-3.px-0.px-lg-3.rounded.js-scroll-trigger(href='#about') SOBRE MÍ
          li.nav-item.mx-0.mx-lg-1
            a.nav-link.py-3.px-0.px-lg-3.rounded.js-scroll-trigger(href='#contact') CONTACTO
  header.masthead.bg-primary.text-white.text-center
    .container.d-flex.align-items-center.flex-column
      // Masthead Avatar Image
      img.masthead-avatar.mb-5(src='assets/img/avataaars.svg' alt='')
      // Masthead Heading
      h1.masthead-heading.mb-0 LEONEL PAVÓN
      // Icon Divider
      .divider-custom.divider-light
        .divider-custom-line
        .divider-custom-icon
          i.fas.fa-star
        .divider-custom-line
      // Masthead Subheading
      p.pre-wrap.masthead-subheading.font-weight-light.mb-0 Diseño Web - Full Stack Jr
  section#portfolio.page-section.portfolio
    .container
      // Portfolio Section Heading
      .text-center
        h2.page-section-heading.text-secondary.mb-0.d-inline-block PORTFOLIO
      // Icon Divider
      .divider-custom
        .divider-custom-line
        .divider-custom-icon
          i.fas.fa-star
        .divider-custom-line
      // Portfolio Grid Items
      .row.justify-content-center
        // Portfolio Items
        .col-md-6.col-lg-4.mb-5
          .portfolio-item.mx-auto(data-toggle='modal' data-target='#portfolioModal0')
            .portfolio-item-caption.d-flex.align-items-center.justify-content-center.h-100.w-100
              .portfolio-item-caption-content.text-center.text-white
                i.fas.fa-plus.fa-3x
            img.img-fluid(src='assets/img/portfolio/cabin.png' alt='Log Cabin')
        .col-md-6.col-lg-4.mb-5
          .portfolio-item.mx-auto(data-toggle='modal' data-target='#portfolioModal1')
            .portfolio-item-caption.d-flex.align-items-center.justify-content-center.h-100.w-100
              .portfolio-item-caption-content.text-center.text-white
                i.fas.fa-plus.fa-3x
            img.img-fluid(src='assets/img/portfolio/cake.png' alt='Tasty Cake')
        .col-md-6.col-lg-4.mb-5
          .portfolio-item.mx-auto(data-toggle='modal' data-target='#portfolioModal2')
            .portfolio-item-caption.d-flex.align-items-center.justify-content-center.h-100.w-100
              .portfolio-item-caption-content.text-center.text-white
                i.fas.fa-plus.fa-3x
            img.img-fluid(src='assets/img/portfolio/circus.png' alt='Circus Tent')
        .col-md-6.col-lg-4.mb-5
          .portfolio-item.mx-auto(data-toggle='modal' data-target='#portfolioModal3')
            .portfolio-item-caption.d-flex.align-items-center.justify-content-center.h-100.w-100
              .portfolio-item-caption-content.text-center.text-white
                i.fas.fa-plus.fa-3x
            img.img-fluid(src='assets/img/portfolio/game.png' alt='Controller')
        .col-md-6.col-lg-4.mb-5
          .portfolio-item.mx-auto(data-toggle='modal' data-target='#portfolioModal4')
            .portfolio-item-caption.d-flex.align-items-center.justify-content-center.h-100.w-100
              .portfolio-item-caption-content.text-center.text-white
                i.fas.fa-plus.fa-3x
            img.img-fluid(src='assets/img/portfolio/safe.png' alt='Locked Safe')
        .col-md-6.col-lg-4.mb-5
          .portfolio-item.mx-auto(data-toggle='modal' data-target='#portfolioModal5')
            .portfolio-item-caption.d-flex.align-items-center.justify-content-center.h-100.w-100
              .portfolio-item-caption-content.text-center.text-white
                i.fas.fa-plus.fa-3x
            img.img-fluid(src='assets/img/portfolio/submarine.png' alt='Submarine')
  // Portfolio Modal
  #portfolioModal0.portfolio-modal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='#portfolioModal0Label' aria-hidden='true')
    .modal-dialog.modal-xl(role='document')
      .modal-content
        button.close(type='button' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true')
            i.fas.fa-times
        .modal-body.text-center
          .container
            .row.justify-content-center
              .col-lg-8
                // Portfolio Modal - Title
                h2.portfolio-modal-title.text-secondary.mb-0 Log Cabin
                // Icon Divider
                .divider-custom
                  .divider-custom-line
                  .divider-custom-icon
                    i.fas.fa-star
                  .divider-custom-line
                // Portfolio Modal - Image
                img.img-fluid.rounded.mb-5(src='assets/img/portfolio/cabin.png' alt='Log Cabin')
                // Portfolio Modal - Text
                p.mb-5
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit.Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.
                button.btn.btn-primary(href='#' data-dismiss='modal')
                  i.fas.fa-times.fa-fw
                  | Close Window
  #portfolioModal1.portfolio-modal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='#portfolioModal1Label' aria-hidden='true')
    .modal-dialog.modal-xl(role='document')
      .modal-content
        button.close(type='button' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true')
            i.fas.fa-times
        .modal-body.text-center
          .container
            .row.justify-content-center
              .col-lg-8
                // Portfolio Modal - Title
                h2.portfolio-modal-title.text-secondary.mb-0 Tasty Cake
                // Icon Divider
                .divider-custom
                  .divider-custom-line
                  .divider-custom-icon
                    i.fas.fa-star
                  .divider-custom-line
                // Portfolio Modal - Image
                img.img-fluid.rounded.mb-5(src='assets/img/portfolio/cake.png' alt='Tasty Cake')
                // Portfolio Modal - Text
                p.mb-5
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit.Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.
                button.btn.btn-primary(href='#' data-dismiss='modal')
                  i.fas.fa-times.fa-fw
                  | Close Window
  #portfolioModal2.portfolio-modal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='#portfolioModal2Label' aria-hidden='true')
    .modal-dialog.modal-xl(role='document')
      .modal-content
        button.close(type='button' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true')
            i.fas.fa-times
        .modal-body.text-center
          .container
            .row.justify-content-center
              .col-lg-8
                // Portfolio Modal - Title
                h2.portfolio-modal-title.text-secondary.mb-0 Circus Tent
                // Icon Divider
                .divider-custom
                  .divider-custom-line
                  .divider-custom-icon
                    i.fas.fa-star
                  .divider-custom-line
                // Portfolio Modal - Image
                img.img-fluid.rounded.mb-5(src='assets/img/portfolio/circus.png' alt='Circus Tent')
                // Portfolio Modal - Text
                p.mb-5
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit.Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.
                button.btn.btn-primary(href='#' data-dismiss='modal')
                  i.fas.fa-times.fa-fw
                  | Close Window
  #portfolioModal3.portfolio-modal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='#portfolioModal3Label' aria-hidden='true')
    .modal-dialog.modal-xl(role='document')
      .modal-content
        button.close(type='button' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true')
            i.fas.fa-times
        .modal-body.text-center
          .container
            .row.justify-content-center
              .col-lg-8
                // Portfolio Modal - Title
                h2.portfolio-modal-title.text-secondary.mb-0 Controller
                // Icon Divider
                .divider-custom
                  .divider-custom-line
                  .divider-custom-icon
                    i.fas.fa-star
                  .divider-custom-line
                // Portfolio Modal - Image
                img.img-fluid.rounded.mb-5(src='assets/img/portfolio/game.png' alt='Controller')
                // Portfolio Modal - Text
                p.mb-5
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit.Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.
                button.btn.btn-primary(href='#' data-dismiss='modal')
                  i.fas.fa-times.fa-fw
                  | Close Window
  #portfolioModal4.portfolio-modal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='#portfolioModal4Label' aria-hidden='true')
    .modal-dialog.modal-xl(role='document')
      .modal-content
        button.close(type='button' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true')
            i.fas.fa-times
        .modal-body.text-center
          .container
            .row.justify-content-center
              .col-lg-8
                // Portfolio Modal - Title
                h2.portfolio-modal-title.text-secondary.mb-0 Locked Safe
                // Icon Divider
                .divider-custom
                  .divider-custom-line
                  .divider-custom-icon
                    i.fas.fa-star
                  .divider-custom-line
                // Portfolio Modal - Image
                img.img-fluid.rounded.mb-5(src='assets/img/portfolio/safe.png' alt='Locked Safe')
                // Portfolio Modal - Text
                p.mb-5
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit.Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.
                button.btn.btn-primary(href='#' data-dismiss='modal')
                  i.fas.fa-times.fa-fw
                  | Close Window
  #portfolioModal5.portfolio-modal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='#portfolioModal5Label' aria-hidden='true')
    .modal-dialog.modal-xl(role='document')
      .modal-content
        button.close(type='button' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true')
            i.fas.fa-times
        .modal-body.text-center
          .container
            .row.justify-content-center
              .col-lg-8
                // Portfolio Modal - Title
                h2.portfolio-modal-title.text-secondary.mb-0 Submarine
                // Icon Divider
                .divider-custom
                  .divider-custom-line
                  .divider-custom-icon
                    i.fas.fa-star
                  .divider-custom-line
                // Portfolio Modal - Image
                img.img-fluid.rounded.mb-5(src='assets/img/portfolio/submarine.png' alt='Submarine')
                // Portfolio Modal - Text
                p.mb-5
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit.Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.
                button.btn.btn-primary(href='#' data-dismiss='modal')
                  i.fas.fa-times.fa-fw
                  | Close Window
  section#about.page-section.bg-primary.text-white.mb-0
    .container
      // About Section Heading
      .text-center
        h2.page-section-heading.d-inline-block.text-white SOBRE MÍ
      // Icon Divider
      .divider-custom.divider-light
        .divider-custom-line
        .divider-custom-icon
          i.fas.fa-star
        .divider-custom-line
      // About Section Content
      .row
        .col-lg-4.ml-auto
          p.pre-wrap.lead
            | Licenciado en Periodismo, en 2018 fundé una e-commerce que vende productos de diseño de la serie Los Simpson. Actualmente incursionando en el mundo de las IT mediante la creación de páginas web utilizando los componentes de Bootstrap 4, Node Js, Express y Mongo.
        .col-lg-4.mr-auto
          p.pre-wrap.lead
            | Creo en el trabajo en equipo como pieza clave para la potenciación de proyectos. Me interesan los planes innovadores y ambiciosos. "Fracasar es una opción. Si las cosas no están fallando, no estás innovando lo suficiente"
  section 
    .container
    h4.mt-4 Proyectos en curso
    #main_map
  
  section#contact.page-section
  footer.footer.text-center
    .container
      .row
        // Footer Location
        .col-lg-4.mb-5.mb-lg-0
          h4.mb-4 Ubicación
          p.pre-wrap.lead.mb-0
            | GBA, Glew
            | Olegario Andrade 192
        // Footer Social Icons
        .col-lg-4.mb-5.mb-lg-0
          h4.mb-4 Mis redes sociales
          a.btn.btn-outline-light.btn-social.mx-1(href='https://www.facebook.com/StartBootstrap')
            i.fab.fa-fw.fa-facebook-f
          a.btn.btn-outline-light.btn-social.mx-1(href='https://www.twitter.com/sbootstrap')
            i.fab.fa-fw.fa-twitter
          a.btn.btn-outline-light.btn-social.mx-1(href='https://www.linkedin.com/in/startbootstrap')
            i.fab.fa-fw.fa-linkedin-in
        // Footer About Text
        .col-lg-4
          h4.mb-4 Contacto
          p.pre-wrap.lead.mb-0
            | leopavon21@gmail.com
  // Copyright Section
  section.copyright.py-4.text-center.text-white
    .container
      small.pre-wrap Copyright &copy; Leonel Pavón 2020
  // Scroll to Top Button (Only visible on small and extra-small screen sizes)
  .scroll-to-top.d-lg-none.position-fixed
    a.js-scroll-trigger.d-block.text-center.text-white.rounded(href='#page-top')
      i.fa.fa-chevron-up
  // Bootstrap core JS
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js')
  script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js')
  // Third party plugin JS
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')
  // Contact form JS
  script(src='/imagenes/jqBootstrapValidation.js')
  script(src='/imagenes/contact_me.js')
  // Core theme JS
  script(src='/javascript/scripts.js')
  // Script Mapa
  script(src='/javascript/map.js')

  